<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha256-f6DVw/U4x2+HjgEqw5BZf67Kq/5vudRZuRkljnbF344="
        src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="static/library/js/layerjs/layer.js"></script>
<script>
    function folderName() {
        return "/" + document.getElementById("defaultInputBox").value;
    }


    function layerOpenURL(destURL) {
        layer.open({
            title: "File preview",
            type: 2,
            area: ['700px', '450px'],
            fixed: false,
            content: destURL
        });
    }

    function createFolderAPI(hostDetails = "", path = "") {
        let url = "http://" + hostDetails + "/utils/createFolder.php?action=createFolder&path=" + path + folderName();
        $.post(url);
    }


    function showCreateInputBox() {
        // display the action li
        let actionLi = document.getElementById("actionLi");
        actionLi.classList.remove("d-none");
        document.getElementById("defaultInputBox").classList.remove("d-none");
        document.getElementById("defaultID").setAttribute("btnClicked", "folderBtn");
        document.getElementById("defaultID").innerText = "Create Folder";
    }

    function showDeleteInputBox() {
        // display the action li
        let actionLi = document.getElementById("actionLi");
        actionLi.classList.remove("d-none");
        document.getElementById("defaultInputBox").classList.add("d-none");
        document.getElementById("defaultID").setAttribute("btnClicked", "deleteBtn");
        document.getElementById("defaultID").innerText = "Confirm Delete!";
    }

    function showCopyInputBox() {
        // display the action li
        // let actionLi = document.getElementById("actionLi");
        // actionLi.classList.remove("d-none");
        document.getElementById("defaultID").setAttribute("btnClicked", "copyBtn");
        let actionLi = document.getElementById("actionLi");
        actionLi.classList.add("d-none");
        let selectedRadioBtn = null;
        let radioButtons = document.querySelectorAll("input[type=radio]");
        radioButtons.forEach(btn => {
            if (btn.checked) {
                selectedRadioBtn = btn;
            }
        });
        let selectedFilePath = selectedRadioBtn.nextElementSibling.getAttribute("pathDetails");
        localStorage.setItem("copiedFilePath", selectedFilePath);
    }

    function showPasteInputBox() {
        // display the action li
        let actionLi = document.getElementById("actionLi");
        actionLi.classList.remove("d-none");
        document.getElementById("defaultInputBox").classList.add("d-none");
        document.getElementById("defaultID").setAttribute("btnClicked", "pasteBtn");
        document.getElementById("defaultInputBox").classList.add("d-none");
        document.getElementById("defaultID").innerText = "Paste to here";
    }

    function showModifyInputBox() {
        // display the action li
        let actionLi = document.getElementById("actionLi");
        actionLi.classList.remove("d-none");
        document.getElementById("defaultInputBox").classList.remove("d-none");
        document.getElementById("defaultID").setAttribute("btnClicked", "modifyBtn");
        document.getElementById("defaultID").innerText = "Modify Name !";

        let selectedRadioBtn = null;
        let radioButtons = document.querySelectorAll("input[type=radio]");
        radioButtons.forEach(btn => {
            if (btn.checked) {
                selectedRadioBtn = btn;
            }
        });
        let selectedFilePath = selectedRadioBtn.nextElementSibling.getAttribute("pathDetails");
        localStorage.setItem("tobeModifiedPath", selectedFilePath);
    }

    function deleteFileFolderAPI(hostDetails = "", path = "") {
        let radioButtons = document.querySelectorAll("input[type=radio]");
        let selectedRadioBtn = null;
        radioButtons.forEach(btn => {
            if (btn.checked) {
                selectedRadioBtn = btn;
            }
        });
        let selectedFilePath = selectedRadioBtn.nextElementSibling.getAttribute("pathDetails");
        let url = "http://" + hostDetails + "/utils/createFolder.php?action=delete&path=" + selectedFilePath;
        $.post(url);
    }


    function pasteFileFolderAPI(hostDetails = "", path = "") {
        let url = "http://" + hostDetails + "/utils/createFolder.php?action=paste&path=" + path + "&srcPath=" +
            localStorage.getItem("copiedFilePath");
        $.post(url);
    }

    function modifyFileFolderAPI(hostDetails, path) {
        document.getElementById("defaultID").setAttribute("btnClicked", "modifyBtn");
        let url = "http://" + hostDetails + "/utils/createFolder.php?action=modify&path=" + localStorage.getItem(
            "tobeModifiedPath") + "&newName=" + folderName();
        $.post(url);
    }

    function actionSwitch(hostDetails = "", path = "") {
        switch (document.getElementById("defaultID").getAttribute("btnClicked")) {
            case "folderBtn":
                createFolderAPI(hostDetails, path);
                setTimeout(function () {
                    document.location.reload()
                }, 1500);
                break;
            case "deleteBtn":
                deleteFileFolderAPI(hostDetails, path);
                setTimeout(function () {
                    document.location.reload()
                }, 1500);
                break;
            case "copyBtn":
                break;
            case "pasteBtn":
                pasteFileFolderAPI(hostDetails, path);
                setTimeout(function () {
                    document.location.reload()
                }, 1500);
                break;
            case "modifyBtn":
                modifyFileFolderAPI(hostDetails, path);
                setTimeout(() => {
                    document.location.reload()
                }, 1500);
                break;
            default:
                break;
        }
    }

    function validateEmail(email) {
        var re =
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function fieldEmptyCheck() {
        let emailFieldValue = document.getElementById("emailField").value;
        let passwordFieldValue = document.getElementById("passwordField").value;
        let re = /[a-zA-Z0-9]/;
        if (emailFieldValue === "" || passwordFieldValue === "") {
            return false;
        } else if (!validateEmail(emailFieldValue)) {
            return false;
        } else if (!re.test(passwordFieldValue)) {
            return false;
        } else {
            return true;
        }

    }

    $('#loginForm').on("submit",
        function (e) {
            e.preventDefault();
            if (fieldEmptyCheck()) {
                $.ajax({
                    type: 'POST',
                    url: '../utils/loginSubmit.php',
                    data: $("#loginForm").serialize(),
                    dataType: 'json',
                    beforeSend: function (req) {
                        req.setRequestHeader("Cookie", document.cookie);
                    },
                    success: (data) => {
                        if (data['Account'] === "Error") {
                            return;
                        } else {
                            if (data['role'] === 'admin' || data['role'] === 'user') {
                                let locationFolderName = window.location.pathname.substr(0, window
                                    .location.pathname.indexOf('/', 1));
                                window.location.href = locationFolderName;
                            }
                        }
                    }
                })
            }
        }
    )
</script>
</body>

</html>